services:
  db:
    image: postgres:13
    restart: always
    environment:
      - POSTGRES_USER=crazypopperz
      - POSTGRES_PASSWORD=Xav-Docker-Desktop-2025
      - POSTGRES_DB=labflow_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data: