# --- Framework & Extensions ---
Flask
Flask-caching
Flask-limiter
Flask-SQLAlchemy
Flask-talisman
Flask-WTF
WTForms
Jinja2
Werkzeug
MarkupSafe
click
itsdangerous
blinker
email-validator

# --- Serveur & Base de données (Prod) ---
gunicorn
psycopg2-binary
python-dotenv

# --- Utilitaires Métier (PDF, Excel, Images) ---
openpyxl
et_xmlfile
fpdf2
pillow
fonttools
defusedxml

# --- Réseau & Système ---
requests
packaging
setuptools