altgraph
autopep8
blinker
click
colorama
defusedxml
et_xmlfile
flake8
Flask
Flask-WTF
Flask-SQLAlchemy
fonttools
fpdf2
itsdangerous
Jinja2
MarkupSafe
mccabe
openpyxl
packaging
pefile
pillow
pycodestyle
pyflakes
pyinstaller
pyinstaller-hooks-contrib
pyperclip
pywin32-ctypes
setuptools
waitress
Werkzeug
WTForms
psycopg2-binary
gunicorn
requests
python-dotenv