/* static/css/_utilities.css */

/* Rotations (utilisées pour les icônes de fond) */
.rotate-15 {
    transform: rotate(15deg);
}

.rotate-n-15 {
    transform: rotate(-15deg);
}

/* Opacité */
.opacity-50 { opacity: 0.5; }
.opacity-20 { opacity: 0.2; }

/* Textes spécifiques */
.text-gray-100 { color: #f8f9fc !important; }
.text-gray-200 { color: #eaecf4 !important; }
.text-gray-300 { color: #dddfeb !important; }
.text-gray-400 { color: #d1d3e2 !important; }
.text-gray-500 { color: #b7b9cc !important; }
.text-gray-600 { color: #858796 !important; }
.text-gray-700 { color: #6e707e !important; }
.text-gray-800 { color: #5a5c69 !important; }
.text-gray-900 { color: #3a3b45 !important; }

.text-xs { font-size: .7rem; }
.text-lg { font-size: 1.2rem; }

/* Z-index pour les éléments flottants */
.z-index-10 { z-index: 10; }
.z-index-20 { z-index: 20; }